.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    span{
        font-weight: bold;
    }
    button{
        margin: 5px 5px;
        cursor: pointer;
    }
}
.share-count {
    text-align: center;
}
