@import "src/scss/bootstrap";

.site-identifier {
  padding: 30px 0;
  background-color: #ecebe9;
}

.search-button.btn{
  padding: 0 15px;
    &.btn-outline-dark:hover{
      color: #343a40;
    }
    &.btn-outline-light:hover{
      color: #fff;
    }
}

.custom-navbar {
  background-color: #dad7d8;
  transition: all 1s;
  font-family: "Open Sans Condensed";
  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  
  .nav-item {
    padding: 5px 20px;
    @include media-breakpoint-down(lg){
      padding: 10px 5px;
    }
    &.active{
      @include media-breakpoint-up(md){
        background-color: #ecebe9;
      }
      text-shadow: none;
      .nav-link {
        color: #00629b;
      }
    }
    .nav-link {
      color: #212122;
    }

    @include media-breakpoint-up(lg) {
      &:hover {
        background-color: #ecebe9;
        text-shadow: none;
        -webkit-transition: background linear 300ms;
        -moz-transition: background linear 300ms;
        -o-transition: background linear 300ms;
        transition: background linear 300ms;
        .nav-link {
          color: #00629b;
          -webkit-transition: color linear 300ms;
          -moz-transition: color linear 300ms;
          -o-transition: color linear 300ms;
          transition: color linear 300ms;
        }
      }
    }
  }
}

.sticky-top {
  @include media-breakpoint-down(sm) {
    position: relative;
    top: initial;
    z-index: initial;
  }
  transition: all 0.25s ease-in;
  &.stuck {
    transition: all 0.5 ease-in;
    .nav-item {
      &.active{
        background-color: #fff;
        text-shadow: none;
        .nav-link {
          color: #212122;
        }
      }
      .nav-link {
        color: white;
      }
      @include media-breakpoint-up(lg) {
        &:hover {
          background-color: #fff;
          text-shadow: none;
          -webkit-transition: background linear 300ms;
          -moz-transition: background linear 300ms;
          -o-transition: background linear 300ms;
          transition: background linear 300ms;
          .nav-link {
            color: #212122;
            -webkit-transition: color linear 300ms;
            -moz-transition: color linear 300ms;
            -o-transition: color linear 300ms;
            transition: color linear 300ms;
          }
        }
      }
    }
  }
}
