@import "src/scss/bootstrap";

.footer {
  background-color: #222222;
  padding: 58px 0 20px;
  margin-top: 90px;
  line-height: 22px;
  font-size: 12px;
  color: white;
}

// .notice-container {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-content: center;
//     align-items: center;
//     margin-top: 25px;
// }

// @media (max-width: 640px - 1px) {
//     .notice-container {
//         justify-content: space-around;
//     }
// }

// .notice-container h4 {
//     text-align: center;
//     margin: 0;
// }

.footer-nav {
  margin: 0 0 46px;
  .nav .nav-item {
    a {
      font-family: "Open Sans Condensed";
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 17px;
      padding-bottom: 17px;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 15px;
      color: white;
      &:hover {
        color: #00629b;
      }
    }
    p {
      padding-bottom: 20px;
    }
    .mask {
      position: absolute;
      top: 50%;
      left: -10px;
      width: 18px;
      height: 1px;
      background-color: rgba(117, 120, 123, 0.4);
      transform: rotate(90deg);
    }
    @include media-breakpoint-down(md){
      .mask{
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      &:first-child a {
        .mask{
          display: none;
        }
        padding-left: 0px;
      }
      &:not(:last-child) a {
        // border-right: 1px solid rgba(117, 120, 123, 0.4);
      }
    }
  }
}

