@import "src/scss/bootstrap";

.footer {
  margin-top: 90px;
  line-height: 22px;
  font-size: 12px;
  .global-footer {
    padding: 20px 0 20px;
    background-color: #222222;
    color: white;
  }
}

.footer-nav {
  margin: 0 0 23px;
  .nav .nav-item {
    a {
      font-family: "Open Sans Condensed";
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 17px;
      padding-bottom: 17px;
      position: relative;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 15px;
      color: white;
      &:hover {
        color: #00629b;
      }
    }
    p {
      padding-bottom: 20px;
    }
    .mask {
      position: absolute;
      top: 50%;
      left: -10px;
      width: 18px;
      height: 1px;
      background-color: rgba(117, 120, 123, 0.4);
      transform: rotate(90deg);
    }
    @include media-breakpoint-down(sm){
      .mask{
        display: none;
      }
    }
    @include media-breakpoint-up(md) {
      &:first-child a {
        .mask{
          display: none;
        }
        padding-left: 0px;
      }
    }
  }
}

