ul.post-tags {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li{
        margin-right: 10px;
        margin-bottom: 5px;
        .badge{
            padding: 5px;
            font-size: 12px;
        }
    }
}